body {
	background-position: top;
	background-image: url("images/pexels-photo-24873.jpg");
	background-position: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin:0;
	padding: 0;
}

.bookform{
	margin:0 auto;
	width: 70%;
	text-align: center;
	padding: 20px 0px;
}

.title {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	margin-top: 80px;
	color: #ffffff;
}

.bookInput{
	width: 50%;
	height: 35px;
}

.srbook{
	background-color: #444444;
	font-family: arial;
	color: #ffffff;
	border: none;
	width: 70px;
	height: 35px;
}

.bookDetails{
	margin:0 auto;
	width: 80%;
	padding: 20px 0px;
	background-color: #ddd;
    opacity: 0.8;
}

ul{
st-style-type: none;
margin:0;
padding: 0;
}

li {
	display: inline-block;
}


.bookDetails{
  width: 40%;

}


.result_cover{
	padding: 20px;
	color: #444444;
float: left;
}

.description {
float: right;

}

.result_title{
padding: 20px;
color: #444444;
font-weight: bold;

}



.result_author{
padding: 20px;
color: #444444;
font-weight: bold;
}


.book{
	padding: 20px;
	color: #444444;
font-weight: bold;
}
